@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-ubuntu;
  }
  
  body {
    margin: 0px;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  


